<f:layout name="main" />

<f:section name="title">
	<f:translate key="Registration_New_Title" />
</f:section>

<f:section name="menu" />

<f:section name="content">
	<div class="registration_new">
		<f:form object="{registration}" action="create" name="registration">
			<f:form.errors for="registration">
				<div class="ecdonationrun-exception">
					<f:if condition="{error.errors}"><f:then>
						<f:for each="{error.errors}" as="fieldError">
							<div><f:translate key="Registration_Error_{error.propertyName}_{fieldError.code}" default="{error.propertyName}_{fieldError.code}" /></div>
						</f:for>
					</f:then><f:else>
						<div><f:translate key="Registration_Error_{error.code}" default="{error.code}" /></div>
					</f:else></f:if>
				</div>
			</f:form.errors>
			<div>
				<div> 
					<label for="name"><f:translate key="Registration_Form_Name" /></label> 
					<span>{user.name}</span>
				</div>
				<div> 
					<label for="run"><f:translate key="Registration_Form_Run" /></label> 
					<f:form.select property="run" id="run" options="{runs}" optionLabelField="name" />
				</div>
<f:comment>
				<div> 
					<label for="runnerNumber"><f:translate key="Registration_Form_Runnernumber" /></label>
					<f:form.textfield property="runnerNumber" id="runnerNumber" />
				</div>
</f:comment> 
				<div>
					<f:form.submit value="{f:translate(key:'Registration_Form_Save')}" />
				</div>
			</div>
		</f:form>
	</div>
</f:section>