<div class="registration_ranking">
	<f:if condition="{registrations}">
		<f:then>
            <ol>
                <f:for each="{registrations}" as="registration">
                    <li>{registration.name}		
                        <f:if condition="{registration.user.txEcassociationGroup.name}">
                            <span>({registration.user.txEcassociationGroup.name})</span>
						</f:if></li>
                </f:for>
            </ol>
		</f:then>
		<f:else>
			<p>Keine Läufer gefunden</p>
		</f:else>
	</f:if>
</div>
