<f:layout name="main" />

	<!-- TITLE -->
<f:section name="title">
	<f:translate key="Donation_Index_Title" arguments="{0: registration.run.name}" />
	(Zugesagte Spenden:
	<f:format.currency currencySign="€" decimalSeparator="," thousandsSeparator=".">{donation_amount}</f:format.currency>) 
</f:section>

	<!-- MENU -->
<f:section name="menu">
	<ul>
		<li><f:link.action controller="Donation" action="new" arguments="{registration : registration}" pageUid="{donationNewPageUid}" >Neue Spende hinzufügen</f:link.action></li>
	</ul>
</f:section>

<f:section name="content">
	<div class="donation_index">
		<table>
			<tr>
				<th><f:translate key="Donation_Index_List_Donator" /></th>
				<th><f:translate key="Donation_Index_List_Donation" /></th>
				<th><f:translate key="Donation_Index_List_Comment" /></th>
				<f:comment>
					<th><f:translate key="Donation_Index_List_Options" /></th>
				</f:comment>
			</tr>
			<f:for each="{donations}" as="donation">
				<tr>
					<td>{donation.user.name}</td>
					<f:if condition="{donation.donationfixvalue} == 0">
						<f:then>
							<td><f:format.currency currencySign="€" decimalSeparator="," thousandsSeparator=".">{donation.donationValue}</f:format.currency> pro km</td>
						</f:then>
						<f:else>
							<td><f:format.currency currencySign="€" decimalSeparator="," thousandsSeparator=".">{donation.donationfixvalue}</f:format.currency> (fest)</td>
						</f:else>
					</f:if>
					<td>{donation.comment}</td>
					<f:comment>
						<td>Bearbeiten, Löschen, Mail, Bezahlt, Erinnerung</td>
					</f:comment>
				</tr>
			</f:for>
		</table>
	</div>
</f:section>