<f:layout name="main" />

<f:section name="title">
	<f:translate key="Donation_New_Title" arguments="{0: registration.name}" />
</f:section>

<f:section name="menu" />

<f:section name="content">
	<f:form object="{donation}" action="create" name="donation">

		<f:form.errors for="donation">
			<div style="background-color: #fdd; padding: 12px;">
				<f:if condition="{error.errors}"><f:then>
					<f:for each="{error.errors}" as="fieldError">
						<div><f:translate key="Donation_Error_{error.propertyName}_{fieldError.code}" default="{error.propertyName}_{fieldError.code}" /></div>
					</f:for>
				</f:then><f:else>
					<div><f:translate key="Donation_Error_{error.code}" default="{error.code}" /></div>
				</f:else></f:if>
			</div>
		</f:form.errors>
		

		<table>
			<tr>
				<td><f:translate key="Donation_New_User" /></td>
				<td>{user.name}</td>
			</tr><tr>
				<td><f:translate key="Donation_New_Registration" /></td>
				<td>{registration.name} ({registration.run.name} {registration.run.distance} km)</td>
			</tr><tr>
				<td><f:translate key="Donation_New_DonationValue" /></td>
				<td><f:form.textfield  property="donationValue" id="donationValue" /> Euro</td>
			</tr><tr>
				<td><f:translate key="Donation_New_DonationFixValue" /></td>
				<td><f:form.textfield property="donationFixValue" id="donationFixValue" /> Euro</td>
			</tr>
			
			<tr>
				<td><f:translate key="Donation_New_Comment" /></td>
				<td><f:form.textarea property="comment" rows="5" cols="40" /></td>
			</tr>
		</table>

		<f:form.submit value="{f:translate(key:'Donation_New_Save')}" />
		<f:form.hidden name="registration" value="{registration}" />
	</f:form>
</f:section>