/*

	Styles for the ec_donationrun extension.

    $Id$
*/

#ecdonationrun-menu ul {
	margin: 8px 0px;
	padding: 0px;
}

#ecdonationrun-menu ul li {
	list-style-type: none;
	float: left;
	font-size: 10pt;
	background-color: #ccf;
	padding: 4px 8px;
	margin: 4px;
}

#ecdonationrun-menu ul li a {
	color: #000;
	text-decoration: none;
}

#ecdonationrun-content {
	clear: both;
}

h2#ecdonationrun-title {
	color: #234479;
	font-family: Sawasdee, Arial, sans-serif;
	border-bottom: 2px solid #234479;
}

#ecdonationrun-content h3 {
	color: #234479;
	font-family: Sawasdee, Arial, sans-serif;
	border-bottom: 1px solid #234479;
	font-size: 12pt;
}

#ecdonationrun-content table {
	border-spacing: 0px;
}

#ecdonationrun-content th {
	background-color: #ccf;
	font-family: Sawasdee, Arial, sans-serif;
	text-align: left;
	border-bottom: 2px solid #234479;
	padding: 4px 8px;
	font-size: 11pt;
}

#ecdonationrun-content td {
	padding: 4px 8px;
	font-size: 10pt;
}

#ecdonationrun-footer {
	font-size: 9pt;
	color: #808080;
	text-align: center;
	margin: 16px;
}

.ecdonationrun-exception {
	background-color: #fdd;
	font-size: 10pt;
	padding: 12px;
}