<f:be.container pageTitle="Donation Run">
	<div>
		<f:be.pageInfo /> - 
		<f:be.pagePath />
	</div>
	
	<h1>Spenden Lauf</h1>
	
	<div>
		An folgende Spender wurde noch keine Spendenbenachrichtigung verschickt. 
	</div>
	<f:form action="sendDonationRequest">
		<div class="donation_index">
			
			<table>
				<tr>
					<th><f:translate key="Donation_Index_List_Donator" /></th>
					<th><f:translate key="Donation_Index_List_Donation" /></th>
					<th><f:translate key="Donation_Index_List_Comment" /></th>
				</tr>
				<f:for each="{donations}" as="donation">
					<tr>
						<td>{donation.user.name}</td>
						<f:if condition="{donation.donationfixvalue} == 0">
							<f:then>
								<td><f:format.currency currencySign="€" decimalSeparator="," thousandsSeparator=".">{donation.donationValue}</f:format.currency> pro km</td>
							</f:then>
							<f:else>
								<td><f:format.currency currencySign="€" decimalSeparator="," thousandsSeparator=".">{donation.donationfixvalue}</f:format.currency> (fest)</td>
							</f:else>
						</f:if>
						<td>{donation.comment}</td>
					</tr>
				</f:for>
			</table>
		</div>
		<div>
			<f:form.submit value="Spendenbenachrichtigung schicken" />
		</div>
	</f:form>
	
	
	<f:comment>
		<h2>Teilnehmer</h2>
		<f:be.tableList tableName="tx_ecdonationrun_domain_model_registration" fieldList="{0: 'name', 1: 'parent'}" storagePid="316" levels="2" recordsPerPage="10" sortField="name" sortDescending="true" readOnly="true" enableClickMenu="true" clickTitleMode="info" alternateBackgroundColors="true" />
		
		<h2>Spenden</h2>
		<f:be.tableList tableName="tx_ecdonationrun_domain_model_donation" fieldList="{0: 'name', 1: 'parent'}" storagePid="316" levels="2" recordsPerPage="10" sortField="name" sortDescending="true" readOnly="true" enableClickMenu="false" clickTitleMode="info" alternateBackgroundColors="true" />
		
	</f:comment>
	
</f:be.container>