<f:be.container pageTitle="Donation Run">
	<div>
		<f:be.pageInfo /> - 
		<f:be.pagePath />
	</div>
	
	<h1>Spenden Lauf</h1>
	
	<h2>Events</h2>
    <f:if condition="{events}">
        <f:then>
            <table>
                <tr>
                    <th>Event</th>
                    <th>Gesammelte Spenden</th>
                </tr>
                <f:for each="{events}" as="event">
                    <tr>
                        <td>{event.name}</td>
                        <td><f:format.currency currencySign="€" decimalSeparator="," thousandsSeparator=".">{event.donationAmount}</f:format.currency></td>
                    </tr>
                </f:for>
            </table>
        </f:then>
        <f:else>
            <p>Keine Events gefunden</p>
        </f:else>
    </f:if>
	
	<h2>Teilnehmer</h2>
	<f:if condition="{registrations}">
		<f:then>
            <table>
				<tr>
					<th>Läufer</th>
					<th>Gesammelte Spenden</th>
				</tr>
				<f:for each="{registrations}" as="registration">
					<tr>
						<td>{registration.name}	
							<f:if condition="{registration.user.txEcassociationGroup.name}">
	                            <span>({registration.user.txEcassociationGroup.name})</span>
							</f:if></td>
						<td><f:format.currency currencySign="€" decimalSeparator="," thousandsSeparator=".">{registration.donationAmount}</f:format.currency></td>
					</tr>
				</f:for>
			</table>
		</f:then>
		<f:else>
			<p>Keine Läufer gefunden</p>
		</f:else>
	</f:if>
	
	
	
	<br />
	<h2>Spendenbenachrichtigung</h2>
	
	<div>
		An folgende Spender wurde noch keine Spendenbenachrichtigung verschickt. 
	</div>
	<f:form action="sendDonationRequest">
		<table>
			<tr>
				<th><f:translate key="Donation_Index_List_Donator" /></th>
				<th><f:translate key="Donation_Index_List_Donation" /></th>
				<th><f:translate key="Donation_Index_List_Comment" /></th>
			</tr>
			<f:for each="{donations}" as="donation">
				<tr>
					<td>{donation.user.name}</td>
					<f:if condition="{donation.donationfixvalue} == 0">
						<f:then>
							<td><f:format.currency currencySign="€" decimalSeparator="," thousandsSeparator=".">{donation.donationValue}</f:format.currency> pro km/Etappe</td>
						</f:then>
						<f:else>
							<td><f:format.currency currencySign="€" decimalSeparator="," thousandsSeparator=".">{donation.donationfixvalue}</f:format.currency> (fest)</td>
						</f:else>
					</f:if>
					<td>{donation.comment}</td>
				</tr>
			</f:for>
		</table>
		<f:form.submit value="Spendenbenachrichtigung schicken" />
	</f:form>
	
	<br />
	<h2>Spenden Export</h2>
	<f:link.action action="export">Download Export</f:link.action>
	<br />
	<h2>Teilnehmer E-Mail Adressen</h2>
	{registration_emails}


	<br />
	<br />
</f:be.container>